body {
    background: url("../images/background_pexels-photo-235985.jpeg");
    margin: 20px;
    text-align: center;
    font-family: "Stylish";
    color: darkgreen;
}

.container {
    padding: 20px;
    background: yellowgreen;
    border: 3px solid orange;
    max-width: 960px;
    width: 100%;
    min-height: calc(100vh - 35px);
}

#game-title {
    background-color: orange;
    padding: 10px;
    height: 58px;
    text-align: center;
    font-size: 28px;
}

#displayBoard {
    font-size: 32px;
    line-height: 45px;
}

#showQuestion {
    font-size: 32px;
}

#showPossibleAnswers {
    font-size: 22px;
    line-height: 28px;
}

button {
    margin-top: 80px;
    background: orange;
    border: 1px solid darkgreen;
    padding: 6px 60px;
    color: green;
}

iframe {
    width: 480px;
    height: 220px;
}

@media screen and (max-width: 480px) {
    iframe {
        width: 220px;
        height: 180px;
    }
}