body {
    background: url("../images/concrete_seamless.png");
    border: 3px solid grey;
    max-width: 960px;
    width: 100%;
    min-height: 520px;
    max-height: 680px;
    height: 100%;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-family: "Stylish";
}

#game-title {
    background-color: orange;
    height: 58px;
    text-align: center;
    color: rgb(221, 221, 231);
    padding: 10px;
    margin: 0;
    font-size: 28px;
}

#displayBoard {
    font-size: 32px;
    line-height: 45px;
}

#showQuestion {
    font-size: 32px;
}

#showPossibleAnswers {
    font-size: 22px;
    line-height: 28px;
}

button {
    margin-top: 80px;
    background: orange;
    padding: 6px 60px;
    color: rgb(221, 221, 231);
}

iframe {
    width: 360px;
    height: 220px;
}

@media screen and (max-width: 480px) {
    iframe {
        width: 220px;
        height: 180px;
    }
}